---
interface Props {
  type?: string;
}

const { type = 'NOTE' } = Astro.props;
---
<style>
  .callout {
    position: relative;
    padding: 1.1rem 1.2rem 1.3rem 1.2rem;
    margin: 1.5rem 0;
    border-radius: var(--radius-md);
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #ececec;
  }

  .callout::before {
    content: '';
    position: absolute;
    inset: 0.5px;
    border-radius: calc(var(--radius-md) - 1px);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.65);
    pointer-events: none;
    z-index: 1;
  }

  .callout-header {
    font-size: calc(var(--text-size-default) - 1.5px);
    font-weight: 600;
    color: var(--text-light);
    opacity: var(--opacity-light);
    margin-bottom: 0.65rem;
    letter-spacing: 0.025em;
  }

  .callout :global(p) {
    margin: 0;
    position: relative;
    z-index: 2;
  }

  .callout :global(p + p) {
    margin-top: 1rem;
  }

  @media (max-width: 1001px) {
    .callout {
      padding: 1rem;
    }
    .callout-header {
      font-size: calc(var(--text-size-mobile) - 1.5px);
    }
  }
</style>

<div class="callout">
  <div class="callout-header">{type}</div>
  <slot />
</div>
