---
interface Props {
  title: string;
  publishedString: string;
  readingTime?: string;
}

const { title, publishedString, readingTime } = Astro.props;
---

<style>
  .note-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 400;
    margin-top: 8rem;
    margin-bottom: 6rem;
  }

  @media (max-width: 1001px) {
    .note-header {
        margin-top: 4rem;
        margin-bottom: 4.2rem;
    }
  }

  .note-header .title {
    font-size: var(--display-size-default);
    line-height: 1.1;
    color: var(--text-lighter);
    font-weight: 600;
    margin: 0;
    letter-spacing: -0.02em;
  }

  .note-header .subtitle {
    font-size: var(--text-size-default);
    line-height: var(--line-height-default);
    color: var(--text-light);
    opacity: var(--opacity-light);
    padding-top: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 400;
  }

  @media (max-width: 1001px) {
    .note-header .title {
      font-size: var(--display-size-mobile);
      line-height: 1;
    }

    .note-header .subtitle {
      padding-top: 0.4rem;
      font-size: var(--text-size-mobile);
      line-height: var(--line-height-mobile);
    }
  }
</style>

<div class="note-header">
    <h1 class="title">{title}</h1>
    <p class="subtitle">{publishedString} {readingTime && ` · ${readingTime}`}</p>
</div>
