---
import type { LocalImageProps, RemoteImageProps } from 'astro:assets';
import { Image } from 'astro:assets';

type Props = LocalImageProps | RemoteImageProps;

const props = { ...Astro.props } as Props;
---
<style>
  figure {
    margin: 2rem 0;
    width: 100%;
    position: relative;
  }

  figcaption {
    padding-top: 1rem;
  }

  .image-container {
    position: relative;
    width: 100%;
    border-radius: var(--radius-lg);
    /* Outer subtle shadow border */
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  /* .image-container::before {
    content: '';
    position: absolute;
    inset: 0.5px;
    border-radius: var(--radius-lg);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.65);
    pointer-events: none;
    z-index: 1;
  } */

  img {
    width: 100%;
    height: auto;
    border-radius: calc(var(--radius-lg) - 1px);
    display: block;
  }

  .note-image-caption :global(p) {
    font-size: 0.95rem;
    line-height: 1.2;
    color: var(--text-light);
    opacity: var(--opacity-light);
    margin-top: 0rem;
    text-align: center;
  }

  @media (max-width: 1001px) {
    img {
      border-radius: var(--radius-md);
    }

    .image-container {
      border-radius: var(--radius-md);
    }
  }
</style>

<figure>
  <div class="image-container">
    <Image {...props} />
  </div>
  <figcaption class="note-image-caption">
    <slot />
  </figcaption>
</figure>
