/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* source-sans-pro-latin-400-normal */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(@fontsource/source-sans-pro/files/source-sans-pro-latin-400-normal.woff2) format('woff2'), url(@fontsource/source-sans-pro/files/source-sans-pro-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* source-sans-pro-latin-600-normal */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url(@fontsource/source-sans-pro/files/source-sans-pro-latin-600-normal.woff2) format('woff2'), url(@fontsource/source-sans-pro/files/source-sans-pro-latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* source-sans-pro-latin-700-normal */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url(@fontsource/source-sans-pro/files/source-sans-pro-latin-700-normal.woff2) format('woff2'), url(@fontsource/source-sans-pro/files/source-sans-pro-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* source-sans-pro-latin-900-normal */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src: url(@fontsource/source-sans-pro/files/source-sans-pro-latin-900-normal.woff2) format('woff2'), url(@fontsource/source-sans-pro/files/source-sans-pro-latin-900-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* source-sans-pro-latin-400-italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: block;
  font-weight: 400;
  src: url(@fontsource/source-sans-pro/files/source-sans-pro-latin-400-italic.woff2) format('woff2'), url(@fontsource/source-sans-pro/files/source-sans-pro-latin-400-italic.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* source-sans-pro-latin-600-italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: block;
  font-weight: 600;
  src: url(@fontsource/source-sans-pro/files/source-sans-pro-latin-600-italic.woff2) format('woff2'), url(@fontsource/source-sans-pro/files/source-sans-pro-latin-600-italic.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
	--font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	--font-body: 'Source Sans Pro', var(--font-fallback);
	--font-mono: 'Geist Mono', ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

	/* Breakpoints */
	--breakpoint-mobile: 720px;
	--breakpoint-desktop: 960px;

	/* Core Blog Colors*/
	--background-core: #F5F5F5;
	--background-core-dark: #E0E0E0;
	--text: #1C1C1C;
	--text-light: #292929;
	--text-light-rgb: rgb(41, 41, 41);
	--text-fade: rgba(41, 41, 41, 0.85);
	
	--accent: #EE7C2F;
	--accent-dark: #ED701D;

	/* Text sizes*/
	--header-size-default: 1.5rem;
	--header-size-mobile: 1.5rem;
	--text-size-default: 1.15rem;
	--text-size-mobile: 1.1rem;
	--line-height-default: 1.5;
	--line-height-mobile: 1.5;

	/* Opacity */
	--opacity-light: 0.65;
	--opacity-dark: 0.5;

	/* Note Variables */
	--article-container-width: 900px;
	--article-max-width: 640px;
	--article-aside-width: calc(var(--article-container-width) - var(--article-max-width));

	--article-width-mobile: 100%;
	--article-max-width-mobile: 600px;
}

html {
	height: 100%;
	overflow: hidden;
	overscroll-behavior: none;
}

body {
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-display: block;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background-core);
	color: var(--text-dark);
	background-size: 100% 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 10px;
	line-height: 1.7;
	height: 100%;
	overflow-y: auto;
	overscroll-behavior-y: none;
	position: relative;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: 1;
	pointer-events: none;
	opacity: 0.2;
	/* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.5' numOctaves='5' seed='1' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3CfeComponentTransfer%3E%3CfeFuncR type='linear' slope='0.1'/%3E%3CfeFuncG type='linear' slope='0.1'/%3E%3CfeFuncB type='linear' slope='0.1'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E"); */
	filter: contrast(120%) brightness(120%) saturate(0);
	mix-blend-mode: multiply;
}

main {
	margin: auto;
	padding: 2em;
	position: relative;
	z-index: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent-dark);
	text-decoration: none;
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	main {
		padding: 2em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
