main {
  width: calc(100% - 2em);
  max-width: 100%;
  margin: 0;
}
.article-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 400;
  margin-top: 7rem;
  margin-bottom: 6rem;
}
.article-header p {
  margin: 0;
}

.article-header .date {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--accent);
}

.prose {
  width: 680px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em;
  color: rgb(var(--gray-dark));
}
.prose p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;

}