main {
  max-width: 100%;
}

.article-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 400;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

@media (max-width: 720px) {
  .article-header {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.article-header .title {
  font-size: 2.2rem;
  line-height: 1.1;
  color: var(--text-light);
  font-weight: 600;
  margin: 0;
  letter-spacing: -0.02em;
}

.article-header .date {
  font-size: 1.15rem;
  line-height: 1.7;
  color: var(--accent-dark);
  margin-top: 0.4rem;
  font-weight: 400;
}

.prose {
  max-width: 600px;
  color: rgb(var(--text));
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 940px) {
  .prose-container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .prose {
    max-width: 640px;
    margin: 0;
  }
}

.prose p {
  font-size: var(--text-size-default);
  line-height: 1.35;
  text-align: justify;
  hyphens: auto;

}
.prose p strong {
  font-weight: 600;
}

.prose h1 {
  margin-top: 3rem;
  color: var(--text-light);
  font-weight: 600;
  letter-spacing: -0.015em;
}

.prose h2 {
  margin-top: 2.3rem;
  color: var(--text-light);
  font-weight: 600;
  letter-spacing: -0.005em;
}

.prose h3 {
  margin-top: 2rem;
  color: var(--text-light);
  font-weight: 600;
}
