---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import AppHeader from '../components/AppHeader.astro';
import AppFooter from '../components/AppFooter.astro';
import NoteList from '../components/note/NoteList.astro';
import LatestNote from '../components/note/LatestNote.astro';
import '../styles/app.css';

const notes: CollectionEntry<'notes'>[] = (await getCollection('notes')).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);
const latestNote = notes[0];
const otherNotes = notes.slice(1);
---

<html lang="en">
  <head>
    <BaseHead 
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <main>
      <section class="app-container">
        <!-- <AppHeader /> -->

        <div class="logo-container">
          <img src="/favicon.svg" alt="Logo" class="logo" />
        </div>

        <div class="app-header">
          <h1 class="title">Marcelo Mantilla</h1>
          <p class="description">
            Hey! I'm Marcelo, a product engineer, designer, and writer shifting between Houston ↔ Toronto. 
            Currently I'm the founder and CTO of <a href="https://maxed.vip">Maxed</a>.
            You can read more about me <a href="/about">here</a>.
          </p>
        </div>

        <div class="app-divider" />

        <div class="index-section">
          <LatestNote note={latestNote} />
        </div>

        <div class="app-divider" />

        <div class="index-section">
          <h2 class="section-title">My Writing</h2>
          <NoteList notes={otherNotes} />
        </div>

        <div class="app-divider" />

        <AppFooter />
      </section>
    </main>

    <style>
      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
      }

      .logo {
        width: 12rem;
        height: 12rem;
        color: var(--text-light);
      }

      @media (max-width: 720px) {
        .logo {
          width: 8rem;
          height: 8rem;
        }
      }
    </style>
  </body>
</html>
