---
import '../../styles/notes.css';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import NoteHeader from '../../components/note/NoteHeader.astro';
import NoteFooter from '../../components/note/NoteFooter.astro';
type Props = CollectionEntry<'notes'>['data'];

const { title, description, published, updated, tags } = Astro.props;
const publishedString = new Date(published).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
});
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.note-footer-divider {
				height: 1px;
				background-color: var(--background-core-dark);
				margin: 3rem 0;
			}
		</style>
	</head>

	<body>
		<main>
			<div class="prose-container">
				<article class="prose">
					<NoteHeader />
					<div class="article-header">
						<h1 class="title">{title}</h1>
						<p class="date">{publishedString} • 3 min read</p>
					</div>
					<slot />
					<div class="note-footer-divider" />
					<NoteFooter />
				</article>
			</div>
		</main>
	</body>
</html>
