---
import '../../styles/notes.css';
import '@fontsource/source-sans-pro/400.css';
import '@fontsource/source-sans-pro/600.css';
import '@fontsource/source-sans-pro/700.css';
import '@fontsource/source-sans-pro/900.css';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';

type Props = CollectionEntry<'notes'>['data'];

const { title, description, published, updated, tags } = Astro.props;
const publishedString = new Date(published).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
});
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			body {
				font-family: 'Source Sans Pro', sans-serif;
			}
		</style>
	</head>

	<body>
		<main>
			<div class="prose-container">
				<article class="prose">
					<div class="article-header">
						<p class="title">{title}</p>
						<p class="date">{publishedString} • 3 min read</p>
					</div>
					<slot />
				</article>
			</div>
		</main>
	</body>
</html>
